// element styles

input[type="text"]{
  @apply outline-none text-[14px];
}


// class custom

.flex-between {
  @apply flex justify-between items-center;
}

.center-items {
  @apply flex items-center justify-center;
}

.flex-column {
  @apply flex flex-col;
}

.flex-column-d-row {
  @apply flex flex-col;
  @apply  lg:flex-row;
}

.flex-row {
  @apply flex items-center;
}

.flex-center {
  @apply flex items-center justify-center;
}

.absolute-full {
  @apply absolute top-0 left-0 w-full h-full;
}

.title__section{
  @apply font-inter text-center max-w-[420px];

  span{
    @apply font-bold text-xl px-1.5 bg-gradient-to-r from-[#f9b16e]  to-[#f68080] inline-block text-transparent bg-clip-text;
  }
}

.title__section-v2{
  @apply flex flex-col items-center;

  h1{
    @apply font-inter text-lg text-black font-bold text-center max-w-[420px];
    @apply lg:text-2xl;
  }

  p{
    @apply text-base text-cl-gray  max-w-[420px] text-center;
    
  }
}

.group__column{
  @apply flex flex-col gap-4;
}

.group__column__center{
  @apply flex flex-col items-center;
}

.group__center{
  @apply flex justify-center items-center;
}

.group__row{
  @apply flex gap-4;
}

.btn__default{
  @apply bg-[#222227] font-medium duration-200 text-white text-sm px-4 h-[40px] py-2;
  @apply active:brightness-75 hover:brightness-90;
}


.title__v2 {
  @apply text-lg text-tertiary font-inter;
}

.box__content__v2{
  @apply flex flex-col gap-2;
  
  h2{
    @apply  text-tertiary font-inter;
  }

  p{
    @apply text-cl-gray;
  }
}


// animations to left

.slide-in-left {
  animation: slideInLeft 0.5s forwards;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

// animations to top

.slide-in-top {
  animation: slideInTop 0.5s forwards;
}

@keyframes slideInTop {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}


.slide-out-top {
  animation: fadeOut 1.5s forwards;
}

@keyframes slide-out-top {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

// animations fade

.fade-in {
  animation: fadeIn 1.5s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
