// element styles

input[type="text"]{
  @apply outline-none text-[14px];
}


// class custom

.flex-between {
  @apply flex justify-between items-center;
}

.center-items {
  @apply flex items-center justify-center;
}

.flex-column {
  @apply flex flex-col;
}

.flex-column-d-row {
  @apply flex flex-col;
  @apply  lg:flex-row;
}

.flex-row {
  @apply flex items-center;
}

.flex-center {
  @apply flex items-center justify-center;
}

.absolute-full {
  @apply absolute top-0 left-0 w-full h-full;
}

.title__section{
  @apply font-sawarabi text-center max-w-[420px];
  @apply lg:text-lg;

  span{
    @apply text-tertiary underline px-1.5;
  }
}

.title__section-v2{
  @apply flex flex-col items-center;

  h1{
    @apply font-sawarabi text-lg text-tertiary text-center max-w-[420px];
    @apply lg:text-2xl;
  }

  p{
    @apply text-sm text-cl-gray  max-w-[420px] text-center;
    
  }
}

.group__column{
  @apply flex flex-col gap-4;
}

.group__column__center{
  @apply flex flex-col items-center;
}

.group__center{
  @apply flex justify-center items-center;
}

.group__row{
  @apply flex gap-4;
}

.btn__default{
  @apply bg-tertiary font-medium duration-200 text-white text-sm px-4 py-2;
  @apply active:brightness-75 hover:brightness-90;
}

.wrapper_list_item_image{
  @apply p-4 shadow-md bg-secondary w-full columns-2 space-y-5 gap-5;
}

.wrapper_item_image{
  @apply p-4 shadow-md bg-secondary;
}


// animations to left

.slide-in-left {
  animation: slideInLeft 0.5s forwards;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

// animations to top

.slide-in-top {
  animation: slideInTop 0.5s forwards;
}

@keyframes slideInTop {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

// animations fade

.fade-in {
  animation: fadeIn 1.5s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

